@using ToothCare.Domain.Entities;
@model PatientViewModel;

<div class="modal animated zoomIn" id="popup" tabindex="-1" role="dialog">
    <form id="popupForm" asp-controller="Patient" asp-action="Save" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="popupHeader">Add Patient</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="id" type="hidden" class="form-control" asp-for="Id">
                            </div>
                            <div class="from-group-inline">
                                <div class="form-group">
                                    <label for="FirstName" class="form-label">First Name</label>
                                    <input id="firstName" type="text" class="form-control" asp-for="FirstName" placeholder="First Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="LastName" class="form-label">Last Name</label>
                                    <input id="lastName" type="text" class="form-control" asp-for="LastName" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="form-label">Email</label>
                                <input id="email" type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                            </div>
                            <div class="from-group-inline">
                                <div class="form-group">
                                    <label for="MobileNo" class="form-label">Mobile Number</label>
                                    <input id="mobileNumber" type="tel" class="form-control" asp-for="MobileNo" placeholder="Mobile Number" required>
                                </div>
                                <div class="form-group">
                                    <label for="EmergencyContact" class="form-label">Emergency Contact</label>
                                    <input id="emergencyContact" type="text" class="form-control" asp-for="EmergencyContact" placeholder="Emergency Contact">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="form-label">Address</label>
                                <input id="address" type="text" class="form-control" asp-for="Address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label for="Illness" class="form-label">Illness</label>
                                <input id="illness" type="text" class="form-control" asp-for="Illness" placeholder="Illness">
                            </div>
                            <div class="form-group">
                                <label for="Alergies" class="form-label">Alergies</label>
                                <input id="alergies" type="text" class="form-control" asp-for="Alergies" placeholder="Alergies">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnSave" class="save-btn-container">
                        <input class="submit-btn" type="submit" value="Save" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hidePopup()">CLOSE</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal animated zoomIn" id="popupEdit" tabindex="-1" role="dialog">
    <form id="popupFormEdit" asp-controller="Patient" asp-action="Update" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="popupHeader">Edit Patient</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="idEdit" type="hidden" class="form-control" asp-for="Id">
                            </div>
                            <div class="from-group-inline">
                                <div class="form-group">
                                    <label for="FirstName" class="form-label">First Name</label>
                                    <input id="firstNameEdit" type="text" class="form-control" asp-for="FirstName" placeholder="First Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="LastName" class="form-label">Last Name</label>
                                    <input id="lastNameEdit" type="text" class="form-control" asp-for="LastName" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="form-label">Email</label>
                                <input id="emailEdit" type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                            </div>
                            <div class="from-group-inline ">
                                <div class="form-group">
                                    <label for="MobileNo" class="form-label">Mobile Number</label>
                                    <input id="mobileNumberEdit" type="tel" class="form-control" asp-for="MobileNo" placeholder="Mobile Number" required>
                                </div>
                                <div class="form-group">
                                    <label for="EmergencyContact" class="form-label">Emergency Contact</label>
                                    <input id="emergencyContactEdit" type="text" class="form-control" asp-for="EmergencyContact" placeholder="Emergency Contact">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Address" class="form-label">Address</label>
                                <input id="addressEdit" type="text" class="form-control" asp-for="Address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label for="Illness" class="form-label">Illness</label>
                                <input id="illnessEdit" type="text" class="form-control" asp-for="Illness" placeholder="Illness">
                            </div>
                            <div class="form-group">
                                <label for="Alergies" class="form-label">Alergies</label>
                                <input id="alergiesEdit" type="text" class="form-control" asp-for="Alergies" placeholder="Alergies">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnSave" class="save-btn-container">
                        <input class="submit-btn" type="submit" value="Save" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideEditPopup()">CLOSE</button>
                </div>
            </div>
        </div>
    </form>
</div>
