@using ToothCare.Presentation.Areas.Auth.Models

@model RegisterModel;
@{
    ViewData["Title"] = "Auth Page";
}

<div class="text-center">
    <h1 class="display-4">Service Life Time Test</h1>
    <p>Test Singleton</p>

    <h1>GUID: @Model.Guid</h1>
    <p>Timestamp: @Model.Timestamp</p>
    <p>Message: @Model.Message</p>

</div>
