@model RegisterViewModel;
@{
    ViewData["Title"] = "Auth Page";
    var successMessage = ViewBag.message as string;
    var errorMessage = ViewBag.message as string;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ToothCare.Presentation.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

<style>
    .register-page-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .background-image-container {
        /* background-color: red; */
        height: 100vh;
        width: 60vw;
        background-image: url('../../assets/images/BackgroundImages/background-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .register-form-Container {
        height: 100vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-form-Container .register-from-wrapper {
        width: 25vw;
        min-width: 400px;
    }

    .register-form-Container .register-from-wrapper {
        width: 30vw;
    }

    .form-wrapper{
       
    }
    .form-containner {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding: 40px 50px 30px 50px;
        border-radius: 20px;
        box-shadow: 0px 5px 5px 0px rgba(44, 44, 44, 0.2);
    }

    .logo-container {
        margin-bottom: 50px;
    }

    .form-group {
        margin-bottom: 12px;
        flex-grow: 1;
    }

    .form-label {
        display: block;
        font-size: 14px;
        color: #a5a0b1;
    }

    .from-group-inline {
        display: flex;
        justify-content: stretch;
        gap: 20px;
    }

    .submit-btn {
        margin-top: 20px;
        width: 100%;
        height: 36px;
        color: white;
        background-color: #2b7ae6;
        border-radius: 4px;
        border: none;
    }

    .bottom-text {
        text-align: center;
        margin-top: 20px;
    }
</style>



<div class="">
    @* <h1 class="display-4">Service Life Time Test</h1>
    <p>Test Singleton</p>

    <h1>GUID: @Model.Guid</h1>
    <p>Timestamp: @Model.Timestamp</p>
    <p>Message: @Model.Message</p> *@

    <div class="register-page-container">
        <div class="register-page-wrapper">
            <div class="background-image-container">
            </div>
            <div class="register-form-Container">
                <div class="register-from-wrapper">
                    <div class="form-containner">
                        <div class="form-wrapper">
                            <div class="logo-container">
                                <img src="../../assets/icons/logo.svg" alt="logo" />
                            </div>
                            @if (errorMessage != null)
                            {
                                <div class="alert alert-danger">
                                    @errorMessage
                                </div>
                            }
                            @if (successMessage != null)
                            {
                                <div class="alert alert-success">
                                    @successMessage
                                </div>
                            }
                            <form asp-controller="SignIn" asp-action="SignIn" method="post">

                                <div class="form-group">
                                    <label for="Email" class="form-label">Email</label>
                                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="Password" class="form-label">Password</label>
                                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                                </div>

                                <input class="submit-btn" type="submit" value="Sign In" />
                                <div class="bottom-text">
                                    <p>Not a member? <a asp-controller="Register" asp-action="Index">Register</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
